.screenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f0f4f8;
  min-height: 80vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.screen {
  border: 16px solid #020202;
  width: 1000px;
  max-width: 90%;
  height: 600px;
  border-radius: 2rem;
  box-shadow: 0 20px 40px rgba(27, 26, 26, 0.3),
    0 10px 20px rgba(215, 209, 209, 0.2);
  background: linear-gradient(135deg, #d9dde1, #e2e5ea);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  animation: bounceAnimation 1.8s ease-out;
}

.dashboardlink h2 {
  font-size: 20px;
  color: #290606;
  padding: 30px;
  text-align: center;
}

.screen h1 {
  font-size: 70px;
  color: #290606;
  font-weight: 700;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  animation: enlargeTextAnimation 1.5s ease-in-out;
  z-index: 1000;
  text-align: center;
}

@keyframes enlargeTextAnimation {
  from {
    font-size: 20px;
    opacity: 0;
  }
  to {
    font-size: 70px;
    opacity: 1;
  }
}

.cube {
  width: 180px;
  height: 180px;
  position: absolute;
  z-index: 100;
  transform-style: preserve-3d;
  animation: cubeRotation 5s linear infinite;
}

@keyframes cubeRotation {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.front:hover {
  z-index: 180px;
}

.side {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, #f8f7f7, #462525);
  position: absolute;
}

.front {
  transform: translateZ(90px);
}

.back {
  transform: rotateX(180deg) translateZ(90px);
}

.left {
  transform: rotateY(-90deg) translateZ(90px);
}

.right {
  transform: rotateY(90deg) translateZ(90px);
}

.top {
  transform: rotateX(90deg) translateZ(90px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(90px);
}

.arrowDown {
  margin-top: 50px;
  animation: pullEffect 2s ease-in-out infinite;
  font-size: 40px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
}

.arrowDown:hover {
  color: #0078ff;
}

@keyframes pullEffect {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounceAnimation {
  0% {
    transform: translateY(1000px);
  }
  50% {
    transform: translateY(-20px);
  }
  70% {
    transform: translateY(10px);
  }
  90% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .screen h1 {
    font-size: 50px;
    animation: enlargeTextAnimation 1.5s ease-in-out;
  }

  @keyframes enlargeTextAnimation {
    from {
      font-size: 20px;
      opacity: 0;
    }
    to {
      font-size: 50px;
      opacity: 1;
    }
  }
}
